/*FUENTE IMPORTADA DE GOOGLE FONTSs*/
@font-face{
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
/*FIN IMPORTADA DE GOOGLE FONTSs*/

/*Imports*/
@import "variables";
@import "extend";
@import "mixin";
@import "maps";

/*End Imports*/

/*ESTILO TITULOS y LINKS*/
h1 {
    font-family: $fuente;
    font-weight: bold;
    color:$color-h1;
    margin-top: 0%;
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

p {
    font-family: $fuente;
}

a {
    text-decoration: none;
}
/*FIN ESTILO TITULOS y LINKS*/

/*ESTILO GLOBAL*/
html{
    margin: 0px 0px 0px 0px;
}

header {
  border-bottom: solid 3px rgb(126, 124, 128);
  }
/*FIN STILO GLOBAL*/

/*ESTILO HEADER*/
.bg-light {
    background-color: white !important;
}

.navbar-brand {
    margin-left: 20px;
  }

.nav-link {
    font-size: x-large;
        &.active {
            color: darkviolet;   
        }
  }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .show.nav-link {
    color: darkviolet;
}

.navbar-nav {
    display: flex;
    background-color:white;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: $fuente;
        a {
            transition: transform .2s; 
            &:hover {
                transform: scale(1.2);
                color: aquamarine !important;
            }
        }
}

.navbar-collapse{
  justify-content: flex-end;
}
/* FIN ESTILO HEADER*/

/*INDEX*/
.aboutus {
    background-image: url(../img/portada_aguaVioleta.png);
    height: 600px;
    @include backgroundConParametros (cover,center,no-repeat);
    @media (max-width: $mobile) {
        height: 750px;
    }
}

.sub_aboutus{
    position: absolute;
    margin-top: 4rem;
}

.parrafo_aboutus{
    color: map-get($mapRedes, ul li);
    text-align: left;
    font-size: x-large;
    width: 50%;
    padding-left: 2rem;
    margin-top: 1rem;
    @media (max-width: $desktop) {
        width: 100%;
    }
    @media (max-width: $mobile) {
        font-size: large;
    }
}

@media (max-width: largedesktop) {
    .img-fluid{
      height: 100%;
    }
  }

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.limision {
    color:  map-get($mapRedes, ul li) !important;
    font-family: "Raleway",sans-serif;
    text-align: left;
    font-size: medium;
    li {
        list-style-type: disc;        
    }
}
/*FIN INDEX*/ 

/*SERVICES HABITACIONES Y GALERIA*/ 
@media (max-width: $desktop) {
    .card-flex-hab img {
      width: 90%;
      height: auto;
    }
  }

.fondoPages {
    background-image: url(../img/fondoPages.jpg);
    @include backgroundConParametros (cover,center,no-repeat);
    border-bottom: 2px solid rgb(126, 124, 128);
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    @media (max-width: 576px) {
        img {
            width: 90%;
            height: auto;
        }
    }
}

.imagen-galeria {
    display: block;
    border: solid 2px rgb(126, 124, 128) ;
    padding: 10px 10px 10px 10px; 
    background-color:rgb(211, 199, 237);
    background-color:white;
    margin-bottom: 40px;
}

.imagen-galeria {
  transition: transform .2s; 
    &:hover{
        transform: scale(1.2);
    }
}
/*FIN SERVICES HABITACIONES Y GALERIA*/   

/*GALERIA*/ 
ul {
    li{
        list-style-type: none;
        font-family: "Raleway",sans-serif;
        color: map-get($mapRedes, ul li);
        font-size: x-large;
        @media (max-width: $mobile) {
            font-size: large;
        }
    }
}
/*FIN GALERIA*/ 

/*CONTACTO*/ 
#seccionContacto{
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: $desktop) {
        height: 900px;
    }
    iframe {
        align-items: flex-start;        
    }
}
/*Fin Seccion contacto**/

/*FORMULARIO*/
.formulario {
    width: 380px;
    height: 500px;
    background-color: rgb(211, 199, 237);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin-left: 5%;
    padding: 20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family: "Raleway",sans-serif;
    position:relative;
    @media (max-width: $tablet) {
        margin-top: 20px;
    }
    h2 {
        margin:10px 0;
        padding-bottom:10px;
        border-bottom:3px solid  rgb(126, 124, 128);
        text-align: left;
    }
    p {
        margin:10px 0;
        padding-bottom:10px;
        text-align: left;
        color: map-get($mapRedes, ul li);
    }
}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    border: 0;
    font-family: "Raleway",sans-serif;
    transition:all .3s;
    border-bottom:1px solid rgb(126, 124, 128);
}

textarea{
    width:100%;
    padding:10px;
    margin-top: 8px;
    box-sizing:border-box;
    background:none;
    font-family: "Raleway",sans-serif;
    transition:all .3s;
    border-bottom:1px solid rgb(126, 124, 128);
}

#botones {
    float:right;
    background:0;
    cursor:pointer;
    transition:all .3s;
    display: flex;
    justify-content: space-between;
    input {
        width:100%;
        padding:10px;
        border:2px solid map-get($mapRedes, ul li) ;
        font-family: "Raleway",sans-serif;
        color: map-get($mapRedes, ul li);
        margin-right: 3px;
    }
}

#radio {
    display: flex;
    input {
        margin-top: 12px;
    }
}

#cuadroAbajo {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    background-color: map-get($mapRedes, ul li);
    border-radius: 8px;
    width: 100%;
    color: whitesmoke;
    font-size: small;
}
/*FIN FORMULARIO*/
/*FIN ESTILO CONTACTO*/

/*ESTILO FOOTER*/
.fondoFooter {
    background-color:rgb(250, 240, 255) !important;    
    @include backgroundConParametros (cover,center,no-repeat);
}

.col-12 {
  display: flex;
  justify-content: center !important;    
  align-items: center;
}

@media (min-width: $mobile) {
  .col-sm-4:first-child {
    display: flex;
    justify-content: flex-end !important;    
  }
}

@media (min-width: $mobile) {
  .col-sm-4:last-child {
    display: flex;
    justify-content: flex-start !important;    
  }
}
/*FIN ESTILO FOOTER*/